<div id="about">
  <div class="row">
    <h2 class="text-bg text-center container">
      My Story So Far
    </h2>
  </div>
</div>
<div class="row">
  <div id="about-text" class="col-sm-10 col-sm-offset-1">
    <%= markdown(:about_me) %>
</div>
</div>


