<div id="contact">
  <div class="row">
    <!--<h2 class="text-bg section-heading text-center">-->
    <!--  Ways to Reach Me-->
    <!--</h2>-->
  </div>
</div>
<div id="contact-body">
  <div class="container">
    <!--<h3 class= "text-bg section-heading">On the Web</h3>-->
    <%= erb :social_buttons %>
  </div>
  <div class="container">
    <h3 class= "text-bg section-heading">Contact Me:</h3>
    <%= erb :contact_form %>
  </div>
</div>