<div id="home">
  <div id="wrapper" class="container">
    <div class="jumbotron">
      <div class="text-center">
        <h1>Chad Kreutzer<br>
          <small>Front End Developer: I like to make things</small>
        </h1>
      </div>
    </div>
  </div>
</div>