<div id="home">
    <div id="wrapper" class="container">
        <div class="jumbotron">
            <div class="text-center">
                <h1>Hello, I'm Chad Kreutzer<br>
                    <small>This is my corner of the Interwebs. I like to make things</small>
                </h1>
            </div>
        </div>
    </div>
</div>