<div class="flex-container">
  <div>
    <a href="https://www.linkedin.com/in/chad-kreutzer-888a9b29" id="li" class="btn-lg btn-default" role="button">
      <i class="fa fa-linkedin-square fa-4x"></i>
    </a>
  </div>
  <div>
    <a href="https://github.com/ChadKreutzer" id="gh" class="btn-lg btn-default" role="button">
      <i class="fa fa-github fa-4x"></i>
    </a>
  </div>
  <div>
    <a href="https://twitter.com/kanthalion" id="tw" class="btn-lg btn-default" role="button">
      <i class="fa fa-twitter fa-4x"></i>
    </a>
  </div>
</div>